{% extends 'blog/base.html' %}

{% block title %}Detail Car{% endblock %}

{% block content %}
{% csrf_token %}
    <h1>This is the {{ detail.concern }} Garage</h1>
    <center>
        <div class="card" style="width: 28rem;">
            <div class="card-body">
                {% if detail.foto_car %} 
                    <img src="{{ detail.foto_car.url }}" width="330">
                {% endif %}
                <h5 class="card-title">{{ detail.concern }} {{ detail.model }}</h5>
                <p class="card-text">VIN: {{ detail.vin_car }}</p>
                <p class="card-text">HorsePower: {{ detail.horse_power }}</p>
                <p class="card-text">EngineSize: {{ detail.engine_size }}</p>
                <a href="{% url 'buy_car' detail.id %}" class="btn btn-primary">Купить</a>
            </div>
            </div>
    </center>
{% endblock %}